<nav class="navbar navbar-expand-lg shadow sticky-top" (scroll)="onWindowScroll();"  id="navtop">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="">Arrayanes</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Inicio</a></li>
               
                <li class="nav-item"><a class="nav-link bx bxl-whatsapp bx-sm" style='color:#25d366' href="https://wa.me/3547540855" target="_blank"></a></li>
                <li class="nav-item"><a class="nav-link bx bxl-facebook-circle bx-sm" style='color:#4267b2' href="https://www.facebook.com/Departamentosarrayanes" target="_blank"></a></li>
                <li class="nav-item"><a class="nav-link bx bx-envelope bx-sm" href="mailto:aliajungues@gmail.com?Subject=Consulta por Departamentos" target="_blank"></a></li>
            </ul>
        </div>
    </div>
</nav>
