<nav class="navbar bg-primary xryxfnj xh8yej3 xg7h5cd x80663w x1plvlek x1ey2m1c xqjyukv xo71vjh xjbqb8w xixxii4 xhtitgo xdt5ytf x9f619 x78zum5 x5pf9jr x2lah0s x1qjc9v5 x1oa3qoh x1nhvcw1 x1c4vz4f x168nmei x13lgxp2" data-bs-theme="dark">
    <div class="container-fluid textCenter">
        <a class="navbar-brand marck-script-regular logoout" href="#">Departamentos Arrayanes</a>
        <div class="navbar-expand" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active link-warning" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-warning" href="#inst">Instalaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-warning" href="#ubi">Ubicación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-warning" href="#cont">Contácto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>