<div class="container-fluid">
  <ul class="xh1wr54">
    <li class="m-5">
      <a
        class="nav-link bx bxl-whatsapp bx-sm xtxo751"
        style="color: #25d366"
        href="https://wa.me/3547540855"
        target="_blank"
        >WhatsApp</a
      >
    </li>
    <li class="m-5">
      <a
        class="nav-link bx bxl-facebook-circle bx-sm xtxo751"
        style="color: #4267b2"
        href="https://www.facebook.com/Departamentosarrayanes"
        target="_blank"
        >Facebook</a
      >
    </li>
    <li class="m-5">
      <a
        class="nav-link bx bx-envelope bx-sm xtxo751 text-white"
        href="mailto:aliajungues@gmail.com?Subject=Consulta por Departamentos"
        target="_blank"
        >Email</a
      >
    </li>
  </ul>
</div>
