<ng-template #content let-modal class="">
  <div>
    <div class="modal-header">
      <h4 class="modal-title">{{ depto }}</h4>
      <button
        type="button"
        class="btn-close btn-close-white"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
  </div>
</ng-template>

<a
  class="col bottom_sec_div d-flex justify-content-center align-items-center cursor-pointer text-decoration-none"
  (click)="openFullscreen(content)"
>
  <button class="btn btn-outline-dark rounded-5 text-center bx bx-home xtxo752">
    {{ depto }}
  </button>
</a>
