.center-div .top_div {
    height: calc(var(--div-height) - 40vh);
}

.center-div .bottom_first_div {
    height: calc(var(--div-height) - 50vh);
}

.center-div .bottom_sec_div {
    height: calc(var(--div-height) - 30vh);
}

.bg-img {
    background-image: url("../../../assets/images/instalaciones/portada.jpg");
    max-width: 100%;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

.bg-deptos {
    max-width: 100%;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

.bg-deptos1 {
    background-image: url("../../../assets/images/instalaciones/depto1/depto1_1h.jpg");
}

.bg-deptos2 {
    background-image: url("../../../assets/images/instalaciones/depto2/depto2_1h.jpg");
}

/* .bg-deptos:hover {
    filter: brightness(50%);
} */

.slide-top {
    background-color: rgba(6, 5, 7, 0.50);
    height: calc(var(--div-height) - 40vh);
}