<div class="container-fluid m-0 p-0 xh1wr54">
  <div class="">
    <div class="">
      <div>
        <app-header></app-header>
      </div>
      <div class="">
        <app-home-carousel ></app-home-carousel>
      </div>
    </div>
    <div>
      <div class="">
        <div class="m-5">
          <app-instalaciones id="inst" class="xd42n65"></app-instalaciones>
        </div>
        <div class="m-5">
          <app-ubicacion id="ubi"></app-ubicacion>
        </div>
        <div class="m-5">
          <app-contacto id="cont"></app-contacto>
        </div>
      </div>
      <div class="">
        <button
          class="btn btn-outline-light xb26p35 bx bx-up-arrow-alt rounded-circle"
          (click)="scrollToTop()"
        ></button>
      </div>
      <div class="">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
