

.gallery{
    padding: 80px 0; 
}

img{
    max-width: 100%;

}

.gallery img{
    background: #fff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15 rgba(0,0,0,0.3);  
    cursor: pointer;  
}

.thumbnail {
    cursor: pointer;
    margin-bottom: 15px;
}

.modal {
    display: block;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}