<div class="container-fluid">
  <div>
    @defer{
    <div class="xh1wr54">
      <div class="xd85o65">
        <div class="card bg-secondary">
          <img
            src="../../../../assets/images/instalaciones/depto1/depto1_1h.jpg"
            class="card-img-top rounded"
            alt="portada depto1"
          />
          <div class="card-body">
            <app-modal depto="Departamento 1">
              <app-depto1></app-depto1>
            </app-modal>
          </div>
        </div>
        <div class="card bg-secondary">
          <img
            src="../../../../assets/images/instalaciones/depto2/depto2_1h.jpg"
            class="card-img-top rounded"
            alt="portada depto2"
          />
          <div class="card-body">
            <app-modal depto="Departamento 2">
              <app-depto2></app-depto2>
            </app-modal>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
